.card{
  border  :1px solid rgb(195, 195, 195);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
  padding :20px;
  margin:10px;
  text-align:center;
  width:250px;
  display:inline-block;
}
.card .card-image{
  max-width: 60%;
  height:auto;
  object-fit: cover;
  border-radius:50%;
  margin-bottom:10px;
  
}
.card .card-title{
  font-family: Arial, Helvetica, sans-serif;

  font-size:24px;
  margin:0px;
  color:rgb(21, 71, 251)
}
.card .card-text{
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(21, 71, 251)
}

.button{
  background-color:rgb(21, 71, 251);
  color:white;
  padding:10px 20px;
  border:none;
  border-radius:5px;
  cursor:pointer;
}
.greeting{
  display:inline-block;
  height:100px;
  width:500px;
  background-color: green;
  color:white;
  font:arial;
  padding:10px;
  font-size:20px;
  border: 1px solid black;
}

.login{
  display:inline-block;
  height:100px;
  width:500px;
  background-color: rgb(226, 11, 11);
  color:white;
  font:arial;
  padding:10px;
  font-size:20px;
  border: 1px solid black;
}